/Exercicio 1/nbproject/private/
/Exercicio 1/build/
/Exercicio 2/nbproject/private/
/Exercicio 2/build/
/Exercicio 3/nbproject/private/
/Exercicio 3/build/
/Exercicio 4/nbproject/private/
/Exercicio 4/build/